
.about-top {
    margin: 50px 0;
    text-align: end;
    a {
        text-align: end;
        margin-left: 10px;
        padding: 20px 55px;
        background-color: $bg_gray;
        border-radius: 5px 5px 25px 0;
        color: $header_color;
        &:hover{
            background-color: $header_button;
            color: rgb(102, 97, 97);
        }
      }
  }

  .about-bottom {
    margin-bottom: 30px;
    h4 {
        margin-bottom: 20px;
        font-size: 30px;
        color: #009918;
      }
      p {
        line-height: 30px;
        color: #333;
      }
  }
 