.banner-desc{
    color: #fff;
    padding: 30px;
    margin: 40px 0;
    text-align: center;
    h2 {
        font-size: 38px;
        margin-bottom: 20px;
      }
      p {
        width: 500px;
        text-align: center;
        margin: 0 auto;
      }
    ul {
        margin-top: 70px;
        li {
            display: inline-block;
            a {
                border-radius: 3px;
                
              }
              
          }
      }
}
 


