
.blog-row-1 {
    display: grid;
    grid-template-columns: 3,auto;
    grid-template-columns: repeat(3,auto);
    column-gap: 40px;
    margin-bottom: 30px;
  }
  .single-blog {
    padding: 20px;
    background-color:$bg_gray;
    border-radius: 5px 5px 25px 0;
    
  }
  .blog-row-2 {
    display: grid;

    grid-template-columns: repeat(4,auto);
    column-gap: 20px;
    margin-bottom: 30px;
  }
  .blog-content {
    margin: 20px 0;
    line-height: 27px;
    a {
      text-align: center;
      color: 258AC0;
      color: #258AC0;
      transition: .3s;
      display: block;
      margin-bottom: 10px;
      &:hover{
        text-decoration: underline;
        color: $header_btn_font;
      }
    }
    
  }

 
 